body {
    font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
    -ms-overflow-style: scrollbar;
}

.head-menu li a {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.head-menu li a:hover {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #e1e3e9;
    color: #333333;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background: #3c8dbc;
}

/* 头部Logo样式 */
.main-header .logo {
    width: 350px;
}

.main-header > .navbar {
    margin-left: 350px;
}

/* 自定义三级菜单  */
.navbar .dropdown-submenu {
    position: relative;
}

.navbar .dropdown-submenu > .dropdown-menu {
    top: 0px;
    left: 100%;
    margin-top: -5px;
    margin-left: 0px;
    border-radius: 0px;
}

/* Submenu comes from LEFT side */
.navbar .dropdown-submenu > .dropdown-menu .submenu-left {
    left: -100%;
}

.navbar .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.submenu-triangle {
    float: right;
    right: 10px;
    font-size: 10px;
    margin-top: 15px;
    margin-right: 0px;
    position: absolute;
}

/*自定义File样式*/
.new-contentarea {
    /*width: 100%;*/
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.new-contentarea label {
    width: 100%;
    height: 100%;
    display: block;
}

.new-contentarea input[type=file] {
    width: 188px;
    height: 60px;
    background: #333;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    margin-right: -94px;
    top: 0;
    right /*\**/: 0px \9;
    margin-right /*\**/: 0px \9;
    width /*\**/: 10px \9;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}

a.upload-img {
    width: 130px;
    display: inline-block;
    /*margin-bottom: 10px;*/
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #3c8dbc;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

a.upload-img:hover {
    color: #FFFFFF;
    background-color: #337ab7;
    cursor: pointer;
}

.form-group .has-error {
    color: #a94442;
}

/* 地图按钮 */
.map-clear-button {
    cursor: pointer;
    border: 1px solid #8ba4dc;
    background-color: white;
    padding: 2px 6px 3px 6px;
    color: indianred;
}

.map-clear-button:hover {
    cursor: pointer;
    border: 1px solid indianred;
    background-color: indianred;
    padding: 2px 6px 3px 6px;
    color: white;
}

.map-save-button {
    cursor: pointer;
    border: 1px solid #8ba4dc;
    background-color: white;
    padding: 2px 6px 3px 6px;
    color: green;
}

.map-save-button:hover {
    cursor: pointer;
    border: 1px solid green;
    background-color: green;
    padding: 2px 6px 3px 6px;
    color: white;
}

/* loading遮罩样式 */
.loading-bg {
    display: block;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.loading-bar {
    border: solid 2px #86A5AD;
    background: white url(../img/loading-circle2.gif) no-repeat 10px 10px;
    display: block;
    width: 220px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top: -25px;
    padding: 10px 10px 10px 50px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: absolute;
    z-index: 2001;
}

/*表格自动换行*/
#SearchListTable {
    word-break: break-all;
}

/*DataTables样式修整*/
.dataTable thead {
    background-color: #3ca0d2;
}

.dataTable thead tr th {
    border: 0px;
    border-collapse: collapse;    
    background-color: #3ca0d2;
    color: white;
}

/* 默认行背景被白色 */
.dataTable tbody tr {
    background-color: #ebfafb;
}

/* 默认隔行背景颜色 */
.dataTable tbody tr:nth-child(2n) {
    background-color: #cde6f5;
}

/* 第二层字表表头颜色 */
.dataTable tbody thead tr{
    background-color: #3ca0d2;
}

/* 头部背景样式修整 */
.skin-blue .main-header .logo {
    background-color: #0196d8;
}

.skin-blue .main-header .navbar {
    background-color: #0196d8;
}

/* BoxHeader样式修整 */
.box-new{
	position: relative;
    border-radius: 3px;
    background: transparent;
    border:0px;
    margin-bottom: 20px;
    width: 100%;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
}

.box-blue .box-header{
	color:#FFF;
	padding:7px;
	padding-left:12px;
	background: url("../img/box-header-tab.png") no-repeat;
}

.box-blue .box-body{
	background-color: #FFF;
}
