@charset "utf-8";
/* CSS Document */
/* index Document by tuy 2013.09.27*/




/*--------------------------main---------------------------*/
body {
	font-family: "微软雅黑";
	background: #fff;
	font-size: 12px;
	letter-spacing: 0.1em;
	background-color: #f2f2f2;
}

html {}
::selection {
background: #03c4d6;
}
.space{
	clear:both;}

/*主框*/
.layout{
	margin:0 auto;
	width:1300px;
}

/*顶部*/
#top{
	height:30px;
	background-color:#666666;}
#top span{
	display:block;
	float:right;
	margin-right:24px;
	color:#CCC;
	line-height:30px;}
#top a{color:#e6e6e6;}
#top a:hover{color:#ececec;}

/*头部*/
#header{
	height:100px;
	background-color:#fff;}

#header .logo{
	float:left;
	margin:20px 0 0 32px;
	width:281px;
	height:63px;
	background:url(../img/index/logo.gif) no-repeat;}
#header ul.nav{
	float:right;}
#header ul.nav li{float:left;}
#header ul a{
	display:block;
	width:92px;
	height:40px;
	text-align:center;
	color:#333;
	background-image:url(../img/index/nav-1.png);
	background-repeat:no-repeat;
	padding-top:60px;
	font-size:14px;}
	
#header ul a:hover{
	background-color:#5ac0f0;
	color:#fff;
	background-image:url(../img/index/nav-2.png);}	
#header ul a.dot1{background-position:0 14px;}
#header ul a.dot2{background-position:-88px 14px;}	
#header ul a.dot3{background-position:-178px 14px;}	
#header ul a.dot4{background-position:-266px 14px;}	
#header ul a.dot5{background-position:-354px 14px;}	
#header ul a.dot6{background-position:-442px 14px;}
#header ul a.dot7{background-position:-530px 14px;}
#header ul a.dot8{background-position:-618px 14px;}
#header ul.nav a.active{
	background-color:#329bca;
	color:#fff;
	background-image:url(../img/index/nav-2.png);}
	
/*主页面阴影*/	
#mainshadow{
	position:relative;
	z-index:100;
	height:20px;
	background:url(../img/index/headershadow.png) repeat-x;}	

/*地图*/
#map{
	margin:0 auto;
	position:relative;z-index:1;
	top:-20px;
	width:1300px;
	height:300px;
	}	
	
/*名片panel*/	
.panelname{
	float:left;
	width:714px;
	background-color:#fff;
	border-top:3px solid #3c8dbc;
	border-left:1px solid #e6eaef;
	border-right:1px solid #e6eaef;
	border-bottom:3px solid #3c8dbc;
	padding: 8px 12px;
	overflow:hidden;
	margin-bottom:20px;}
.panelname h3{
	font-size:20px;
	color:#333;
	line-height:50px;
	text-align:center;border-bottom:1px solid #e6eaef;
	
	margin-bottom:8px;}	
.panelname dl{
	margin-left:50px;
	line-height:30px;
	font-size:14px;
	}	
.panelname dl dt{
	width:80px;
	text-align:right;
	font-weight:bold;
	float:left;
	color:#666;}	
.panelname dl dd{
	width:180px;
	text-align:left;float:left;
	color:#666;
	margin-bottom:8px;}	
.panelname .star{height:20px;
    float:right;
}
.panelname .star span.star1{
	float:left;
	background:url(../img/index/star-2.png) no-repeat;
	width:20px;
	height:20px;
	margin-right:8px;}	
.panelname .star span.star2{
	float:left;
	background:url(../img/index/star-1.png) no-repeat;
	width:20px;
	height:20px;
	margin-right:8px;}		
	
/*综合查询panel*/	
.panel01{
	width:640px;
	float:left;}
.panel01 .title{
	height:40px;
	background-color:#329bca;}	
.panel01 .title h3{
	float:left;
	color:#fff;line-height:40px;
	font-size:16px;}
.panel01 .title span{
	display:block;
	margin-left:8px;
	margin-right:8px;
	float:left;
	width:40px;
	height:40px;
	background-image:url(../img/index/home-icon.png);
	}	
.panel01 .title span.titledot1{background-position:0 0;}
.panel01 .title span.titledot2{background-position:-40px 0;}	
.panel01 .title span.titledot3{background-position:-80px 0;}
.panel01 .title span.titledot4{background-position:0 -116px;}
.panel01 .title span.titledot5{background-position:-40px -116px;}
.panel01 .title span.titledot6{background-position:-80px -116px;}
.panel01 .title span.titledot7{background-position:-120px -116px;}
.panel01 .title span.titledot8{background-position:0px -156px;}
.panel01 .title span.titledot9{background-position:-40px -158px;}
.panel01 .title span.titledot10{background-position:-80px -158px;}

.panel01 ul.titletab{
	float:left;
	margin-left:30px;}
.panel01 ul.titletab li{
	float:left;
	height:36px;
	margin-top:4px;
	line-height:36px;
	padding:0 10px;
	color:#fff;
	font-size:14px;
	margin-right:8px;
	cursor:pointer;}
.panel01 ul.titletab li.active{
	background-color:#fff;
	color:#333;}
	
	
.panel01 .content{
	border:1px solid #dddddd;
	border-top:none;
	background-color:#fff;
	padding:20px;
	overflow:hidden;
	margin-bottom:20px;}
	
	
.table01{
	margin:0 auto;
	padding:1px;border-top:1px solid #e4e4e4;
	}	
.table01 td{
	padding:8px;color:#333;
	border-bottom:1px solid #e4e4e4; }
.table01 .ttitle{
	background:#f0f0f0;
	font-weight:bold;
	}
	
.table02{
	margin:0 auto;
	padding:4px;border-top:1px solid #e4e4e4;
	}	
.table02 td{
	padding:16px 8px;color:#333;
	border-bottom:1px solid #e4e4e4; }
.table02 .ttitle{
	background:#f0f0f0;
	font-weight:bold;
	}	
	

/*搜索输入框*/	
.input1{
    font-family: "Microsoft Yahei",΢���ź�,"Helvetica Neue",Arial,sans-serif;
	height:32px;width:400px;
	float:left;
	padding:4px;
	border:1px solid #d3d7da;
	margin-left:30px;
	background-color:#fff;}	
/*搜索按钮*/		
a.btn1{
	float:left;
	height:40px;line-height:40px;width:100px;
	text-align:center;
	font-size:16px;
	float:left;
	color:#fff;
	border:1px solid #44b0e1;
	margin-left:12px;
	background-color:#5ac0f0;}	
a.btn1:hover{background-color:#44b0e1;}	

/*综合搜索其他*/	
ul.zhsearch{clear:both;margin-top:20px;margin-left:20px;}
ul.zhsearch li{
	float:left;}
ul.zhsearch a{
	display:block;float:left;
	height:100px;
	width:120px;
	text-align:center;
	font-size:14px;
	margin-right:20px;
	color:#666;}
ul.zhsearch a:hover{color:#329bca;margin-top:2px;}	
ul.zhsearch span{
	margin-left:35px;margin-bottom:12px;
	display:block;
	width:40px;
	height:40px;
	background-image:url(../img/index/home-icon.png);}	
ul.zhsearch span.zhdot1{background-position:-122px 0;}	
ul.zhsearch span.zhdot2{background-position:-159px 0;}	
ul.zhsearch span.zhdot3{background-position:-199px 0;}	
ul.zhsearch span.zhdot4{background-position:-240px 0;}	

/*货运服务*/	
ul.huoyun{clear:both;margin-top:30px;margin-left:10px;}
ul.huoyun li{
	float:left;}
ul.huoyun a{
	display:block;float:left;
	height:120px;
	width:140px;
	text-align:center;
	font-size:14px;
	margin-right:4px;
	color:#666;}
ul.huoyun a:hover{color:#329bca;margin-top:2px;}	
ul.huoyun span{
	margin-left:38px;margin-bottom:12px;
	display:block;
	width:60px;
	height:70px;
	background-image:url(../img/index/home-icon.png);}	
ul.huoyun span.hydot1{background-position:0 -40px;}	
ul.huoyun span.hydot2{background-position:-60px -40px;}	
ul.huoyun span.hydot3{background-position:-120px -40px;}	
ul.huoyun span.hydot4{background-position:-180px -40px;}	
ul.huoyun span.hydot5{background-position:-240px -40px;}

.panel01{
	float:left;
	margin:0 auto;
	background:none;
	}
	
.panel02{	
	float:left;
	background-color:#fff;
	border:1px solid #dddddd;	
	padding:10px;margin-bottom:20px;}
	
dl.tubiao{
	float:left;}
dl.tubiao dt{
	font-size:14px;
	text-align:center;
	color:#333;}
dl.tubiao dd{
	width:310px;
	height:220px;}

/*------资讯-------*/	
ul.news{color:#1485e1;font-size:12px;overflow:hidden;}
ul.news li{height:26px;line-height:26px;}
ul.news li.more{height:26px;line-height:26px;}
ul.news li.more a{text-align:right;width:100%;color:#999;}
ul.news a{width:210px;_width:200px;float:left;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color: #666666;}
ul.news span{color:#aaa;padding-left:8px;}
ul.news a:hover {color: #329bca; }


/*友情链接*/
.linkfr{
	clear:both;padding-left:10px;line-height:30px;
	}
.linkfr h3{font-size:14px;color:#333;}	
.linkfr ul{}
.linkfr ul li{	
	float:left;
	margin-right:20px;margin-bottom:20px;}
.linkfr a{color:#666;}
.linkfr a:hover{color:#fc6d6c;}

.more{
	text-align:right;
	padding-top:10px;
	}
.more a{
	color:#666;}
.more a:hover{
	color:#fc6d6c;}	
#footer{
	clear:both;
	background-color:#e1e1e1;
	line-height:30px;
	color:#9a9a9a;
	text-align:center;}
