@CHARSET "UTF-8";

/* zTree样式复写 */
            .skin-blue .sidebar a {
            color:#000;
}
.ztree {
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    background-color:#ebf0f5;
}

ul.ztree{
	overflow-y:scroll;
	overflow-x:auto;
}